<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{% block title %}Photos - jack.camera{% endblock %}</title>
    <link rel="icon" href="{{ url_for('favicon') }}" />
    <link rel="stylesheet" href="{{ url_for('static', path='/styles.css') }}" />
  </head>
  <body>
    <header class="site-header">
      <a href="{{ url_for('folder_index') }}">jack.camera</a>
    </header>
    <main>{% block content %}{% endblock %}</main>
  </body>
</html>
