---
import Layout from "../layouts/Layout.astro";
import Image from "../components/fly-fest-oct-2022/Image.astro";
import { BASE_URL } from "../consts";

const page = "demo-night-2-nov2025";
const imgBase = `${BASE_URL}/${page}`;
---

<Layout title="demo night 2 nov 2025">
  <main>
    <header>
      <h1>Demo Night 2 - November 2025</h1>
    </header>
    <p>Coming soon...</p>
  </main>
</Layout>
