---
import Layout from "../layouts/Layout.astro";
---

<Layout title="home">
  <main>
    <h1>jack.camera</h1>
    <ul>
      <a href="./fly-fest-oct2022">
        <li>Fly Festival - October 2022</li>
      </a>
    </ul>
  </main>
</Layout>

<style is:global>
  body {
    justify-content: center;
  }
  main {
    text-align: center;
  }

  h1 {
    font-size: 5rem;
  }

  li {
    font-size: 3rem;
  }
</style>
