---
import Layout from "../layouts/Layout.astro";
---

<Layout title="jack.camera">
  <main>
    <h1>jack.camera</h1>
  </main>
</Layout>

<style is:global>
  h1 {
    text-align: center;
    font-size: 4rem;
  }
</style>
